<div class="pageContent">
  <h1>Blog</h1>
  <div class="blogSection">
    <h2>Neue Artikel</h2>
    <div class="sectionInnerWrapper">
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, quas?
        </p>
      </div>
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque,
          sed.
        </p>
      </div>
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          perferendis?
        </p>
      </div>
    </div>
  </div>
  <div class="blogSection">
    <h2>Beliebte Artikel</h2>
    <div class="sectionInnerWrapper">
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, quas?
        </p>
      </div>
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque,
          sed.
        </p>
      </div>
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          perferendis?
        </p>
      </div>
    </div>
  </div>
  <div class="blogSection">
    <h2>Für dich empfohlen</h2>
    <div class="sectionInnerWrapper">
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, quas?
        </p>
      </div>
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque,
          sed.
        </p>
      </div>
      <div class="blogArticle">
        <h3>Lorem, ipsum dolor.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          perferendis?
        </p>
      </div>
    </div>
  </div>
</div>
