<div class="pageContent">
  <h1>Aufgaben</h1>
  <div class="actionBtnWrapper">
    <button class="newTaskBtn" routerLink="/tasks/new-task" mat-stroked-button>
      <i class="material-icons">add</i>Aufgabe hinzufügen
    </button>
    <span class="flex-grow"></span>
    <button (click)="showFilter = !showFilter" mat-icon-button>
      <i class="material-icons">filter_list</i>
    </button>
  </div>
  <div *ngIf="showFilter && taskCategorys.length > 0" class="filterWrapper">
    <mat-form-field>
      <mat-label>Kategorien</mat-label>
      <mat-select
        #select
        (selectionChange)="onSelectChange(select.value)"
        multiple
        [value]="selectedCategories"
      >
        <mat-option *ngFor="let category of taskCategorys" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="tasksWrapper">
    <div class="noTasks" *ngIf="tasksToShow === undefined">
      Wird geladen...
    </div>
    <div
      class="noTasks"
      *ngIf="(tasksToShow && tasksToShow.length == 0) || tasksToShow === null"
    >
      Kein Eintrag
    </div>
    <div (click)="openTask(task)" class="task" *ngFor="let task of tasksToShow">
      <h2>{{ task.title }}</h2>
      <span>von {{ task.author }}</span>
    </div>
  </div>
</div>
