@import 'vars';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include desktop {
    flex-direction: row-reverse;
  }

  .pageWrapper {
    position: relative;
    flex: 1;
    overflow-y: scroll;
  }
}
