<div class="pageContent">
  <div class="innerWrapper" *ngIf="task">
    <div class="taskHead">
      <span class="btnWrapper">
        <button routerLink="/tasks" mat-ripple>
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
      </span>
      <div class="titleWrapper">
        <span class="title">{{ task.title }}</span>
        <span class="author">von {{ task.author }}</span>
      </div>
    </div>
    <div class="taskStatus">
      Deadline in {{ remainingDays }}
      {{ remainingDays > 1 ? 'Tagen' : 'einem Tag' }}
      <div class="taskStatusIndicator">
        {{ task.currentStatus }} von {{ task.pageCount }} Seiten
        <div class="taskStatusInnerIndicator"></div>
      </div>
    </div>
    <form
      (submit)="updateStatus(currentStatusInput.value)"
      class="statusWrapper"
    >
      <div class="statusInnerWrapper">
        <mat-form-field appearance="outline">
          <mat-label>Aktueller Status</mat-label>
          <input
            #currentStatusInput
            type="number"
            [value]="task.currentStatus"
            autocomplete="off"
            matInput
          />
          <span class="customSuffix">von {{ task.pageCount }} Seiten</span>
        </mat-form-field>
        <button type="submit" mat-stroked-button>Aktualisieren</button>
      </div>
    </form>
    <div class="taskContentWrapper">
      <div class="pagePerDay">
        <span class="title">
          <b>{{ pagePerDay }} Seiten</b> / pro Tag
        </span>
        <span class="subtitle">
          bis zum {{ taskDeadline.getDate() }} .{{
            taskDeadline.getMonth() + 1
          }}.{{ taskDeadline.getFullYear() }}
        </span>
      </div>
    </div>
  </div>
</div>
