@import 'vars';

:host .pageContent {
  min-height: calc(100% - 4rem);

  .innerWrapper {
    display: flex;
    flex-direction: column;

    .taskHead {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 2rem;

      .btnWrapper {
        height: 40px;
        width: 40px;

        button {
          background: none;
          border: none;
          outline: none;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          margin: 0 8px 0 -12px;

          i {
            @include darkTheme {
              color: white;
            }
          }
        }
      }

      .titleWrapper {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 1.6rem;
          font-weight: 500;
          display: inline;
          line-height: 30px;
          max-height: 90px;
          overflow: hidden;
          hyphens: auto;
        }
      }
    }

    .taskStatus {
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      text-align: center;
      padding: 16px 16px 44px;
      font-size: 1.1rem;

      .taskStatusIndicator {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 28px;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 14px;
        line-height: 29px;

        .innerIndicator {
          position: absolute;
          top: 0;
          left: 0;
          width: 10px;
          background: rgba(0, 0, 0, 0.12);
          height: 28px;
          border-radius: 0 0 8px 8px;
        }
      }
    }

    .deadline {
      margin: 1rem;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
