@import '~@angular/material/theming';
@include mat-core();
@import 'vars';

$lernplan-primary: mat-palette($mat-blue);
$lernplan-accent: mat-palette($mat-amber);
$lernplan-warn: mat-palette($mat-red);

$my-white: (
  50: white,
  100: white,
  200: white,
  300: white,
  400: white,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white,
  A100: white,
  A200: white,
  A400: white,
  A700: white,
  contrast: (
    50: $darkText,
    100: $darkText,
    200: $darkText,
    300: $darkText,
    400: $darkText,
    500: $darkText,
    600: $darkText,
    700: $darkText,
    800: $darkText,
    900: $darkText,
    A100: $darkText,
    A200: $darkText,
    A400: $darkText,
    A700: $darkText,
  ),
);

$darkTheme-primary: mat-palette($my-white);
$darkTheme-accent: mat-palette($mat-amber);
$darkTheme-warn: mat-palette($mat-red);

$lernplan-theme: mat-light-theme(
  $lernplan-primary,
  $lernplan-accent,
  $lernplan-warn
);

$lernplan-darkTheme: mat-dark-theme(
  $darkTheme-primary,
  $darkTheme-accent,
  $darkTheme-warn
);

@include angular-material-theme($lernplan-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body.useDarkTheme {
  background: $darkBg;
  color: white;
  @include angular-material-theme($lernplan-darkTheme);
}
@media (prefers-color-scheme: dark) {
  body {
    background: $darkBg;
    color: white;
    @include angular-material-theme($lernplan-darkTheme);
  }
}

.flex-grow {
  flex: 1;
}
